.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .input-group-text:hover{
    background-color: #00CED1 !important;
    color: white !important;
}

.input-group-text_search:hover i{
    opacity: 0.5;
}

#category:hover{
    background-color: #00CED1 !important;
}

.dropdown-item:hover{
    background-color: #00CED1;
    color: white !important;
}

a.text-dark:hover, a.text-dark:focus {
    color: white !important;
}

#header-carousel img{
    object-fit:unset
}


.col-1, .col-2, .col-3, .col-24, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-24, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-24, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-24, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-24, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-24 {
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 576px) {
    .col-sm-24 {
        flex: 0 0 20%;
        max-width: 20%;
      }
}

@media (min-width: 768px) {
    .col-md-24 {
        flex: 0 0 20%;
        max-width: 20%;
      }
}
@media (min-width: 992px) {
    .col-lg-24 {
        flex: 0 0 20%;
        max-width: 20%;
      }
}

@media (min-width: 1200px) {
    .col-xl-24 {
        flex: 0 0 20%;
        max-width: 20%;
      }
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #00CED1;
    background-color: #00CED1;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}
.drop_laguage:hover>.dropdown-menu-languge{
    display: block;
}

.dropdown-menu-languge {
    position: absolute;
    top: 100%;
    right: 10rem;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #6F6F6F;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.input-group-append .btn {
    position: relative;
    z-index: 0;
}
