<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- load các file trong thư mục static -->
        {% load static %}
        {% load django_bootstrap5 %}
        <!-- Sử dụng các filter được tạo riêng của django template -->
        {% load myfilter %}
        <meta charset="utf-8">
        <!-- Phần title -->
        <title>{% include 'name.html' %} - {% block title %}{% endblock title %}</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free HTML Templates" name="keywords">
        <meta content="Free HTML Templates" name="description">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'image/site.webmanifest' %}">
        <!-- Favicon -->
    

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/404.css'%}" />
        <link href="{% static 'css/star.css' %}" rel="stylesheet">
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <link href="{% static 'css/view.css' %}" rel="stylesheet">

        <!-- Phần link riêng start -->
        {% block link %}{% endblock link %}
        <!-- Phần link riêng end -->
    </head>

    <body>
        <!-- Phần thông báo start == alert-->
        <div class="modal" id="modal_message">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% include 'name.html' %}</h5>
                    </div>
                    <div class="modal-body">
                        <p id="message_modal"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Phần thông báo end-->

        <!-- Phần header chung start -->
        <!-- Topbar Start -->
        <div class="container-fluid">
            <div class="row bg-info py-2 px-xl-5">
                <!-- Mạng xã hội -->
                <div class="col-lg-4 d-none d-lg-block text-center text-lg-left">
                    <span class="text-white px-2">Kết nối</span>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>

                <div class="col-lg-8 col-md-12 offset-md-2 offset-lg-0 text-right text-lg-right">
                    <!-- Hỗ trợ -->
                    <a href="" class="text-white px-2 d-none d-md-inline-block text-decoration-none"><i class="fas fa-bell pr-1"></i>Thông báo</a>
                    <a href="" class="text-white px-2 d-none d-md-inline-block text-decoration-none"><i class="fas fa-question pr-1"></i>Hỗ Trợ</a>
                    <div class="drop_laguage d-inline-flex align-items-center">
                        <a href="#" class="dropdown-toggle text-white px-2 text-decoration-none"><i class="pr-1 fas fa-globe"></i>Tiếng Việt</a>
                        <div class="dropdown-menu-languge">
                            <a href="cart.html" class="dropdown-item text-decoration-none">Tiếng Việt</a>
                            <a href="checkout.html" class="dropdown-item text-decoration-none">English</a>
                        </div>
                    </div>

                    <!-- Kiểm tra user đã login -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout_user_url' %}" class="text-white px-2 text-decoration-none">Đăng Xuất</a>
                        <span class="text-white">|</span>
                        <a href="{% url 'register_url'%}" class="text-white pl-2 text-decoration-none">Đăng Ký</a>
                    {% else %}
                        <a href="{% url 'login_user_url'%}" class="text-white px-2 text-decoration-none">Đăng Nhập</a>
                        <span class="text-white">|</span>
                        <a href="{% url 'register_url'%}" class="text-white pl-2 text-decoration-none">Đăng Ký</a>
                    {% endif %}
                </div>
            </div>

            <div class="row py-3 px-xl-5 justify-content-center">
                <!-- logo -->
                <div class="col-xl-4 d-none d-xl-block align-self-center">
                    <a href="{% url 'index_url'%}" class="text-decoration-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><img src="{% static 'image/logo.png'%}" class="img-fluid" style="width:80px" alt="Responsive image"><span class="font-weight-bold px-3 mr-1 text-info">{% include 'name.html' %}</span></h1>
                    </a>
                </div>
                <!-- Thanh search -->
                <div class="col-xl-6 col-lg-10 col-md-9 col-sm-8 col-7 text-left align-self-center">
                    <form action="{% url 'views_url'%}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control"placeholder="Search for products" name ="search" id ="search">
                            <div class="input-group-append">
                                <span class="input-group-text_search p-0 border-0" style="cursor:pointer;">
                                    <button class="btn border border-info" type="submit"><i class="fa fa-search text-info"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Card - User -->
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5 text-right align-self-center">
                    {% if user.is_authenticated %}
                        <div class="d-flex text-right align-self-center justify-content-end btn mx-1 p-0">
                            <div class="dropdown mx-1">
                                <h6 id="user-icon" class = 'm-0 rounded-circle border text-center' style="width: 40px;height: 36px;line-height: 36px;">{{user.username|icon_user}}</h6>
                                <ul class="dropdown-menu" style="top: 95%;" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'logout_user_url'%}">Đăng Xuất</a></li>
                                    <li><a class="dropdown-item" href="{% url 'register_url'%}">Đăng Ký</a></li>
                                    <li><a class="dropdown-item" href="{% url 'Infomation_url'%}">Thông Tin</a></li>
                                </ul>
                            </div>
                            <a href="{% url 'cart_url'%}" class="btn border" >
                                <i class="fas fa-shopping-cart text-info"></i>
                                <span class="badge selector-for-some-widget"  id="count-cart">{{user|count_product_cart}}</span>
                            </a>
                        </div>
                    {% else %}
                        <div class ='d-flex text-right align-self-center justify-content-end'>
                            <div class="dropdown">
                                <i class="fas fa-user text-info btn rounded-circle border mx-1"></i>
                                <ul class="dropdown-menu" style= "top: 95%; left:-69px">
                                    <li><a class="dropdown-item" href="{% url 'login_user_url'%}">Đăng Nhập</a></li>
                                    <li><a class="dropdown-item" href="{% url 'register_url'%}">Đăng Ký</a></li>
                                </ul>
                            </div>
                            <a href="{% url 'login_user_url'%}?next={% url 'cart_url'%}" class="btn border">
                                <i class="fas fa-shopping-cart text-info"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Phần header chung end -->

        <!-- Phần body giữa các template start -->
        {% block content %}{% endblock content %}
        <!-- Phần body giữa các template end -->

        <!-- Phần chân trang chung start -->
        <!-- Footer Start -->
        <div class="container-fluid bg-info text-white">
            <div class="row px-xl-5 pt-4">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-md-3 mb-5">
                            <h5 class="font-weight-bold text-white m-0">THÔNG TIN CHUNG</h5>
                            <div class="w-50 bg-white mb-2" style="height:1px;"></div>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-1" href="index.html">Giới thiệu về {% include 'name.html' %}</a>
                                <a class="text-white mb-1" href="shop.html">Tin tức</a>
                                <a class="text-white mb-1" href="detail.html">Tin tuyển dụng</a>
                                <a class="text-white mb-1" href="cart.html">Liên hệ - góp ý</a>
                                <a class="text-white mb-1" href="checkout.html">Khách hàng doanh nghiệp</a>
                                <a class="text-white mb-1" href="contact.html">Xây dựng cấu hình PC</a>
                            </div>
                        </div>
                        <div class="col-md-3 mb-5">
                            <h5 class="font-weight-bold text-white m-0">Hỗ trợ khách hàng</h5>
                            <div class="w-50 bg-white mb-2" style="height:1px;"></div>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-1" href="index.html">Hướng dẫn mua hàng</a>
                                <a class="text-white mb-1" href="shop.html">Hướng dẫn thanh toán</a>
                                <a class="text-white mb-1" href="detail.html">Hướng dẫn mua hàng trả góp</a>
                                <a class="text-white mb-1" href="cart.html">In hóa đơn điện tử</a>
                                <a class="text-white mb-1" href="contact.html">Tra cứu bảo hành</a>
                            </div>
                        </div>
                        <div class="col-md-3 mb-5">
                            <h5 class="font-weight-bold text-white m-0">Chính sách chung</h5>
                            <div class="w-50 bg-white mb-2" style="height:1px;"></div>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-1" href="index.html">Chính sách vận chuyển</a>
                                <a class="text-white mb-1" href="shop.html">Chính sách bảo hành</a>
                                <a class="text-white mb-1" href="detail.html">Chính sách cho doanh nghiệp</a>
                                <a class="text-white mb-1" href="cart.html">Chính sách kiểm hàng</a>
                                <a class="text-white mb-1" href="checkout.html">Bảo mật thông tin khách hàng</a>
                            </div>
                        </div>
                        <div class="col-md-3 mb-5">
                            <h5 class="font-weight-bold text-white m-0">Tổng đài hỗ trợ</h5>
                            <div class="w-50 bg-white mb-2" style="height:1px;"></div>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-1" href="index.html"><i class="fas fa-phone mr-2"></i>Miền Bắc</a>
                                <a class="text-white mb-1" href="shop.html"><i class="fas fa-phone mr-2"></i>Miền Nam</a>
                                <a class="text-white mb-1" href="detail.html"><i class="fas fa-phone mr-2"></i>Kinh doanh online</a>
                                <a class="text-white mb-1" href="cart.html"><i class="fas fa-phone mr-2"></i>Chăm sóc khách hàng</a>
                                <a class="text-white mb-1" href="checkout.html"><i class="fas fa-phone mr-2"></i>Góp ý - khiếu nại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top border-light mx-xl-5 py-4">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-white">
                        &copy; <a class="text-white font-weight-semi-bold" href="#">{% include 'name.html' %}</a>. All Rights Reserved. Designed
                        by
                        <a class="text-white font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a><br>
                        Distributed By <a href="https://themewagon.com" target="_blank">{% include 'name.html' %}</a>
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid w-50" src="{% static 'image/payments.png' %}" alt="">
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <!-- Phần chân trang chung end -->

        <!-- Back to Top Start-->
        <div class="fixed-bottom m-auto" style="left:99%;">
            <a href="#" class="text-dark"><i class="fas fa-angle-double-up"></i></a>
        </div> 
        <!-- Back to Top End-->

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Phần javasript start -->
        {% block scripts_content %}{% endblock scripts_content %}
        <!-- Phần javasript end -->

        <!-- Phần javasript chung start -->
        <script>     
            $(document).ready(function(){
                // Tạo 2 danh sách gồm các class color, background sử dụng bootstrap5
                var color = ["text-primary","text-success","text-warning" ,'text-info' ,'text-danger'];
                var bg = ["bg-secondary","bg-body" ,'bg-body'];
                // Tạo random giá trị lấy ngẫu nhiên color trong danh sách
                var color_rank = color[Math.floor(Math.random() * color.length)];
                var bg_rank = bg[Math.floor(Math.random() * bg.length)];
                $('#user-icon').addClass(color_rank);
                $('#user-icon').addClass(bg_rank);
                // Thêm class color vào icon

                // Tạo hàm xử lý chuyển thành giá vnd: 1.000.000đ
                // Thêm class vào các thẻ chứa giá trị muốn định dạng thành tiền
                $('.id-price').each(function(){
                    var money_one = $(this).text()
                    money_one = parseInt(money_one).toLocaleString('vn-VN', {style : 'currency', currency : 'VND'});
                    $(this).text(money_one)
                })

                // Tạo nút add mỗi lần click thêm sản phẩm vào giỏ hàng xử dụng ajax
                $(".btn_counts").each(function(){
                    $(this).click(function(){
                        href = $(this).data('href')
                        // Lấy giá trị trong thẻ
                        // Đặt url trong thẻ chứa class btn_counts
                        // data-<tên biến> = 'giá trị' : data-href = 'url'

                        $.ajax({
                            // Tạo ajax với 
                            type: 'POST',
                            url: href,
                            data: {
                                count: 1,
                                csrfmiddlewaretoken: "{{csrf_token}}"
                            },
                            success: function(data){
                                // Hiển thị thông báo khi thành công
                                $('#modal_message').addClass('d-block')
                                $('#message_modal').text(data.message)
                                setTimeout(function(){
                                    $('#modal_message').removeClass('d-block')
                                    $('#message_modal').text()
                                }, 2000);
                            },
                            error: function(xhr){
                                $('#modal_message').addClass('d-block')
                                $('#message_modal').text(xhr.responseJSON.message)
                                setTimeout(function(){
                                    $('#modal_message').removeClass('d-block')
                                    $('#message_modal').text()
                                }, 2000);
                            }
                        })
                    
                    // Khi click đồng thời thay đổi giá trị trên giỏ hàng
                    var count_number_product = parseInt($('#count-cart').text())
                        $('#count-cart').text(count_number_product+1)
                    })
                })    
            })  
        </script>
        <!-- Phần javasript chung end -->
    </body>
</html>