{% extends 'base.html' %}
{% load static %}
{% load myfilter %}
{% block title %}
Card {{user.fullname}}
{% endblock title %}

{% block content%}
<!-- Navbar Start -->
<div class="container-fluid mb-2">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a id = "category" class="btn shadow-none d-flex align-items-center justify-content-between bg-info text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0 text-white">Danh Mục</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                {% include 'category.html' %}
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-0 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><img src="{% static 'image/logo.png'%}" class="img-fluid" style="width:80px" alt="Responsive image"><span class="font-weight-bold px-3 mr-1 text-">{% include 'name.html' %}</span></h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    {% include 'navbar.html' %}
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->

<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                {% if order_detail %}
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Sản Phẩm</th>
                            <th>Giá</th>
                            <th>Số Lượng</th>
                            <th>Giá Tổng</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                            {% for product in order_detail %}
                                <tr>
                                    <td class="align-middle selector-for-some-widget"><a href="{% url 'detail_url' id=product.product.id%}" class="text-info" target="_blank"><img src="{{product.product.id|get_image_product}}" alt="" style="width: 100%; height:120px">{{product.product}}</a></td>
                                    <td class="money_one align-middle selector-for-some-widget id-price" data-id="{{product.product.id}}" data-href="{% url 'remove_cart_url'%}?remove={{product.product.id}}">{{product.money|price_one_producr:product.soluong}}</td>
                                    <td class="align-middle selector-for-some-widget">
                                        <div class="input-group quantity mx-auto" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-info btn-minus" >
                                                <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control form-control-sm bg-secondary text-center count-cart-cart selector-for-some-widget" value="{{product.soluong}}">
                                            <div class="input-group-btn">
                                                <button id = 'btn-plus-count' class="btn btn-sm btn-info btn-plus" data-count="{{product|count_product}}">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle money_total selector-for-some-widget id-price">{{product.money}}</td>
                                    <td class="align-middle selector-for-some-widget"><a href="{%url 'remove_cart_url'%}?remove={{product.product.id}}" class="btn btn-sm btn-info"><i class="fa fa-times"></i></a></td>
                                </tr>
                            {% endfor %} 
                    </tbody>
                {% else %}
                    <div class="col-12 pb-1">
                        <h6 class="text-center mb-3 px-4">{{message}}</h6>
                    </div>
                {% endif %}
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-5" action="">
                <div class="input-group">
                    <input type="text" class="form-control p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-info">Code Giảm Giá</button>
                    </div>
                </div>
            </form>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Tiền</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Tiền Sản Phẩm</h6>
                        <h6 class="font-weight-medium id-price selector-for-some-widget" id ="total_all">{{total}}</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold selector-for-some-widget id-price" id ="all_ship"></h5>
                    </div>
                    {% if order_detail %}
                        <a href="{% url 'checkout_url' %}" class="btn btn-block btn-info my-3 py-3">Thanh Toán</a>
                    {% else %}
                        <a href="#" class="btn btn-block btn-info my-3 py-3">Thanh Toán</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
{% endblock content%}

{% block scripts_content %}
    <script>
        $(document).ready(function(){
            // Lấy giá trị tổng thay đổi định dạng
            var totalall = $('#total_all').text()
            $('#all_ship').text(totalall.toLocaleString('vn-VN', {style : 'currency', currency : 'VND'}))

            // Thay đổi giỏ hàng         
            $('.quantity button').on('click', function () {
                // Thay đổi số lượng start
                var button = $(this);
                var oldValue = button.parent().parent().find('input').val();
                if (button.hasClass('btn-plus')) {
                    if(oldValue < $('#btn-plus-count').data('count')){
                        var newVal = parseFloat(oldValue)+1;
                    }
                    else{
                        // Nếu số lượng yêu cầu lớn hơn số lượng hiện có
                        var newVal = $('#btn-plus-count').data('count');
                        $('#modal_message').addClass('d-block')
                        $('#message_modal').text('Quá Số Lượng Sản Phẩm Hiện Có')
                        setTimeout(function(){
                            $('#modal_message').removeClass('d-block')
                            $('#message_modal').text()
                        }, 2000);
                    }
                } else {
                    if (oldValue > 1) {
                        var newVal = parseFloat(oldValue) - 1;
                    } else {
                        var newVal = 0       
                    }
                }
                // Thay đổi số lượng end
                
                // Thay đổi số lượng trong DB start
                var href= $(this).parent().parent().parent().parent().find($('td.money_one')).data('href')
                // Nếu số lượng < 1 xóa khỏi giỏ hàng
                if (newVal < 1){
                    $('#total_all').text(0)
                    window.location.href = href; 
                }
                else{
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'add_count_product_url'%}",
                        data: {
                            count: newVal,
                            product_id: $(this).parent().parent().parent().parent().find($('td.money_one')).data('id'),
                            csrfmiddlewaretoken: "{{csrf_token}}"
                        },
                        success: function(data){
                            console.log(data.message)
    
                        },
                        error: function(xhr){
                            console.log(xhr.responseJSON.message)
                        }
                    })
                    // Thay đổi số lượng trong DB start

                    // Thay đổi tiền theo số lượng từng sản phẩm thay đổi
                    money_one = $(this).parent().parent().parent().parent().find($('td.money_one')).text()
                    money_one = parseInt(money_one.slice(0, -2).split('.').join(''))
                    price_products = money_one*newVal
                    money_all = parseInt(price_products).toLocaleString('vn-VN', {style : 'currency', currency : 'VND'});
                    $(this).parent().parent().parent().parent().find($('td.money_total')).text(money_all)
                    button.parent().parent().find('input').val(newVal);      
                }

                // Thay đổi số tiền tổng nếu thay đổi số lượng sản phẩm start
                var total = 0
                $('.money_total').each(function(){
                    total+=parseInt($(this).text().slice(0, -2).split('.').join(''))
                })
                
                var all_ship = total
                total = total.toLocaleString('vn-VN', {style : 'currency', currency : 'VND'});
                $('#total_all').text(total)
                $('#all_ship').text(all_ship.toLocaleString('vn-VN', {style : 'currency', currency : 'VND'}))
                // Thay đổi số tiền tổng nếu thay đổi số lượng sản phẩm end

                // Thay đổi số lượng hiển thị tại giỏ hang
                var number_product = 0
                $('.count-cart-cart').each(function(){
                    number_product+= parseInt($(this).val())
                })
                $('#count-cart').text(number_product)
            }) 
        })
    </script>
{% endblock scripts_content %}